{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <a class="related-widget-wrapper-link add-related" id="add_id_job" data-popup="yes" href="/admin/django_apscheduler/djangojob/add/?_to_field=id&amp;_popup=1" title="django job 추가"><img src="/static/admin/img/icon-addlink.svg" alt="추가"></a>
            {% bootstrap_form form %}
                <button class="btn btn-primary">저장</button>
        </form>
    </div>
{% endblock %}